<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="categoryForm">
      <input type="hidden" id="id" formControlName="id" />
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Some Name" id="name" [formControl]="name" required />
        <mat-error *ngIf="name.invalid">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Color Code</mat-label>
        <input matInput placeholder="Some Color Code" id="colorCode" [formControl]="colorCode" required />
        <mat-error *ngIf="colorCode.invalid">
          <div *ngIf="colorCode.errors.required">
            Color Code is required.
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!categoryForm.valid">Submit</button>
  </form>
</div>
