<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Update Category</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-category-form [category]="category$"></app-category-form>
  </mat-card-content>
</mat-card>
