form
  min-width: 150px
  max-width: 640px
  width: 100%

mat-form-field
  width: 100%

mat-slide-toggle
  margin-bottom: 18px

mat-icon
  color: green
  vertical-align: middle
  margin-left: 8px

button
  &[type="submit"]
    margin-top: 32px
