<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Update Transaction Input</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-transaction-input-form [transactionInput]="transactionInput$"></app-transaction-input-form>
  </mat-card-content>
</mat-card>
