<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="transactionInputForm">
      <input type="hidden" id="id" formControlName="id" />
      <input type="hidden" id="content" [formControl]="content" required />

      <mat-form-field appearance="fill">
        <mat-label>Account</mat-label>
        <mat-select id="accountId" [formControl]="accountId" required >
          <mat-option *ngFor="let account of accounts$ | async" [value]="account.id">{{account.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="accountId.invalid">
          <div *ngIf="accountId.errors.required">
            Account is required.
          </div>
        </mat-error>
      </mat-form-field>

      <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="fileInputChange($event)" accept=".csv"/>
      <a mat-stroked-button color="primary" (click)="csvInput.click()" >Choose File</a>
      <mat-icon *ngIf="!content.invalid" color="green">done</mat-icon>
      <mat-error *ngIf="content.invalid">
        <div *ngIf="content.errors.required">
          Choose a file to upload
        </div>
      </mat-error>

    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!transactionInputForm.valid">Submit</button>
  </form>
</div>
