<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add a new Transaction Input
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-transaction-input-form></app-transaction-input-form>
</mat-expansion-panel>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell class="dc-label" *matHeaderCellDef class="id-header">Id</th>
    <td mat-cell class="dc-content" *matCellDef="let element">
      <a [routerLink]="['/transaction-input', element.id]" routerLinkActive="is-active"> {{ element.id }} </a>
    </td>
  </ng-container>

  <!-- content Column -->
  <ng-container matColumnDef="content">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Content</th>
    <td mat-cell class="dc-content" *matCellDef="let element">
      {{ element.content | slice:0:10 }} ... ({{ element.content.length }} bytes)
    </td>
  </ng-container>

  <!-- status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Status</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.status }}</td>
  </ng-container>

  <!-- accountId Column -->
  <ng-container matColumnDef="accountId">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Account Id</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.accountId }}</td>
  </ng-container>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef class="delete-header">
      <mat-checkbox (change)="$event ? toggleSelectAll() : null"
                    [checked]="selection.hasValue()"
                    [indeterminate]="selection.hasValue()">
      </mat-checkbox>
      <button mat-icon-button color="warn"
                    [disabled]="!selection.hasValue()"
                    (click)="onDeleteClick($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

</table>
