<mat-nav-list fxLayout="column">

  <h3 matSubheader>Explore</h3>

  <a mat-list-item [routerLink]="['/transaction']">
    <mat-icon aria-hidden="false" class="right-space">receipt_long</mat-icon>
    Transactions
  </a>

  <h3 matSubheader>Import</h3>

  <a mat-list-item [routerLink]="['/transaction-input']">
    <mat-icon aria-hidden="false" class="right-space">input</mat-icon>
    Transactions
  </a>


  <h3 matSubheader>Configuration</h3>

  <a mat-list-item [routerLink]="['/account']">
    <mat-icon aria-hidden="false" class="right-space">account_balance</mat-icon>
    Account
  </a>
  <a mat-list-item [routerLink]="['/category']">
    <mat-icon aria-hidden="false" class="right-space">category</mat-icon>
    Category
  </a>
  <a mat-list-item [routerLink]="['/input-type']">
    <mat-icon aria-hidden="false" class="right-space">settings_input_component</mat-icon>
    Input Type
  </a>
</mat-nav-list>
