<div class="container">
    <app-header (toggleSideNavigation)="sidemenu.toggle()"></app-header>

      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav fxLayout="column" #sidemenu [mode]="sideNavMode | async" [opened]="sideNavOpen | async" [fixedTopGap]="topGap | async" fixedInViewport="true">
          <app-side-navigation></app-side-navigation>
        </mat-sidenav>

        <mat-sidenav-content fxFlexFill>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>
