<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Update Input Type</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-input-type-form [inputType]="inputType$"></app-input-type-form>
  </mat-card-content>
</mat-card>
