<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="inputTypeForm">
      <input type="hidden" id="id" formControlName="id" />
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Some Name" id="name" [formControl]="name" required />
        <mat-error *ngIf="name.invalid">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Importer</mat-label>
        <input matInput placeholder="Some Importer" id="importer" [formControl]="importer" required />
        <mat-error *ngIf="importer.invalid">
          <div *ngIf="importer.errors.required">
            Importer is required.
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!inputTypeForm.valid">Submit</button>
  </form>
</div>
