<div fxFlex fxLayoutGap="16px">

    <button [routerLink]="['/account']" mat-raised-button appElevate class="entity-button">
      <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
      Account
    </button>

    <button [routerLink]="['/category']" mat-raised-button appElevate class="entity-button">
      <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
      Category
    </button>

    <button [routerLink]="['/transaction']" mat-raised-button appElevate class="entity-button">
      <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
      Transaction
    </button>

    <button [routerLink]="['/transaction-category']" mat-raised-button appElevate class="entity-button">
      <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
      Transaction Category
    </button>

    <button [routerLink]="['/input-type']" mat-raised-button appElevate class="entity-button">
      <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
      Input Type
    </button>

    <button [routerLink]="['/transaction-input']" mat-raised-button appElevate class="entity-button">
      <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
      Transaction Input
    </button>

</div>
