<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Update Transaction Category</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-transaction-category-form [transactionCategory]="transactionCategory$"></app-transaction-category-form>
  </mat-card-content>
</mat-card>
