<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="transactionCategoryForm">
      <input type="hidden" id="id" formControlName="id" />
      <mat-form-field appearance="fill">
        <mat-label>Assigned On</mat-label>
        <input type="date" matInput placeholder="Some Assigned On" id="assignedOn" [formControl]="assignedOn" required />
        <mat-error *ngIf="assignedOn.invalid">
          <div *ngIf="assignedOn.errors.required">
            Assigned On is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Assigned By</mat-label>
        <input matInput placeholder="Some Assigned By" id="assignedBy" [formControl]="assignedBy" required />
        <mat-error *ngIf="assignedBy.invalid">
          <div *ngIf="assignedBy.errors.required">
            Assigned By is required.
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!transactionCategoryForm.valid">Submit</button>
  </form>
</div>
