<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Update Transaction</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-transaction-form [transaction]="transaction$"></app-transaction-form>
  </mat-card-content>
</mat-card>
