<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add a new Transaction
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-transaction-form></app-transaction-form>
</mat-expansion-panel>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell class="dc-label" *matHeaderCellDef class="id-header">Id</th>
    <td mat-cell class="dc-content" *matCellDef="let element">
      <a [routerLink]="['/transaction', element.id]" routerLinkActive="is-active"> {{ element.id }} </a>
    </td>
  </ng-container>

  <!-- desription Column -->
  <ng-container matColumnDef="desription">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Desription</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.desription }}</td>
  </ng-container>

  <!-- amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Amount</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.amount }}</td>
  </ng-container>

  <!-- currency Column -->
  <ng-container matColumnDef="currency">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Currency</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.currency }}</td>
  </ng-container>

  <!-- type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Type</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <!-- bookedOn Column -->
  <ng-container matColumnDef="bookedOn">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Booked On</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.bookedOn }}</td>
  </ng-container>

  <!-- executedOn Column -->
  <ng-container matColumnDef="executedOn">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Executed On</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.executedOn }}</td>
  </ng-container>

  <!-- explanation Column -->
  <ng-container matColumnDef="explanation">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Explanation</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.explanation }}</td>
  </ng-container>

  <!-- reference Column -->
  <ng-container matColumnDef="reference">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Reference</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.reference }}</td>
  </ng-container>

  <!-- corresponderName Column -->
  <ng-container matColumnDef="corresponderName">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Corresponder Name</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.corresponderName }}</td>
  </ng-container>

  <!-- corresponderBank Column -->
  <ng-container matColumnDef="corresponderBank">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Corresponder Bank</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.corresponderBank }}</td>
  </ng-container>

  <!-- corresponderAccount Column -->
  <ng-container matColumnDef="corresponderAccount">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Corresponder Account</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.corresponderAccount }}</td>
  </ng-container>


  <!-- Checkbox Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef class="delete-header">
      <mat-checkbox (change)="$event ? toggleSelectAll() : null"
                    [checked]="selection.hasValue()"
                    [indeterminate]="selection.hasValue()">
      </mat-checkbox>
      <button mat-icon-button color="warn"
                    [disabled]="!selection.hasValue()"
                    (click)="onDeleteClick($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

</table>
