<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="transactionForm">
      <input type="hidden" id="id" formControlName="id" />
      <mat-form-field appearance="fill">
        <mat-label>Desription</mat-label>
        <input matInput placeholder="Some Desription" id="desription" [formControl]="desription" required />
        <mat-error *ngIf="desription.invalid">
          <div *ngIf="desription.errors.required">
            Desription is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput type="number" placeholder="Some Amount" id="amount" [formControl]="amount" required />
        <mat-error *ngIf="amount.invalid">
          <div *ngIf="amount.errors.required">
            Amount is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Currency</mat-label>
        <mat-select id="currency" [formControl]="currency" required >
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="TRY">TRY</mat-option>
        </mat-select>
        <mat-error *ngIf="currency.invalid">
          <div *ngIf="currency.errors.required">
            Currency is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <input matInput placeholder="Some Type" id="type" [formControl]="type" required />
        <mat-error *ngIf="type.invalid">
          <div *ngIf="type.errors.required">
            Type is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Booked On</mat-label>
        <input type="date" matInput placeholder="Some Booked On" id="bookedOn" [formControl]="bookedOn" required />
        <mat-error *ngIf="bookedOn.invalid">
          <div *ngIf="bookedOn.errors.required">
            Booked On is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Executed On</mat-label>
        <input type="date" matInput placeholder="Some Executed On" id="executedOn" [formControl]="executedOn" required />
        <mat-error *ngIf="executedOn.invalid">
          <div *ngIf="executedOn.errors.required">
            Executed On is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Explanation</mat-label>
        <input matInput placeholder="Some Explanation" id="explanation" [formControl]="explanation" required />
        <mat-error *ngIf="explanation.invalid">
          <div *ngIf="explanation.errors.required">
            Explanation is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Reference</mat-label>
        <input matInput placeholder="Some Reference" id="reference" [formControl]="reference" required />
        <mat-error *ngIf="reference.invalid">
          <div *ngIf="reference.errors.required">
            Reference is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Corresponder Name</mat-label>
        <input matInput placeholder="Some Corresponder Name" id="corresponderName" [formControl]="corresponderName" required />
        <mat-error *ngIf="corresponderName.invalid">
          <div *ngIf="corresponderName.errors.required">
            Corresponder Name is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Corresponder Bank</mat-label>
        <input matInput placeholder="Some Corresponder Bank" id="corresponderBank" [formControl]="corresponderBank" required />
        <mat-error *ngIf="corresponderBank.invalid">
          <div *ngIf="corresponderBank.errors.required">
            Corresponder Bank is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Corresponder Account</mat-label>
        <input matInput placeholder="Some Corresponder Account" id="corresponderAccount" [formControl]="corresponderAccount" required />
        <mat-error *ngIf="corresponderAccount.invalid">
          <div *ngIf="corresponderAccount.errors.required">
            Corresponder Account is required.
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!transactionForm.valid">Submit</button>
  </form>
</div>
