<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add a new Account
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-account-form></app-account-form>
</mat-expansion-panel>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell class="dc-label" *matHeaderCellDef class="id-header">Id</th>
    <td mat-cell class="dc-content" *matCellDef="let element">
      <a [routerLink]="['/account', element.id]" routerLinkActive="is-active"> {{ element.id }} </a>
    </td>
  </ng-container>

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Name</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- institution Column -->
  <ng-container matColumnDef="institution">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Institution</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.institution }}</td>
  </ng-container>

  <!-- accountNumber Column -->
  <ng-container matColumnDef="accountNumber">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Account Number</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.accountNumber }}</td>
  </ng-container>

  <!-- expenseAccount Column -->
  <ng-container matColumnDef="expenseAccount">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Expense Account</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.expenseAccount }}</td>
  </ng-container>

  <!-- currency Column -->
  <ng-container matColumnDef="currency">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Currency</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.currency }}</td>
  </ng-container>

  <!-- readerName Column -->
  <ng-container matColumnDef="readerName">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Reader Name</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.readerName }}</td>
  </ng-container>


  <!-- Checkbox Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef class="delete-header">
      <mat-checkbox (change)="$event ? toggleSelectAll() : null"
                    [checked]="selection.hasValue()"
                    [indeterminate]="selection.hasValue()">
      </mat-checkbox>
      <button mat-icon-button color="warn"
                    [disabled]="!selection.hasValue()"
                    (click)="onDeleteClick($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

</table>
