<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="accountForm">
      <input type="hidden" id="id" formControlName="id" />
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Some Name" id="name" [formControl]="name" required />
        <mat-error *ngIf="name.invalid">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Institution</mat-label>
        <input matInput placeholder="Some Institution" id="institution" [formControl]="institution" required />
        <mat-error *ngIf="institution.invalid">
          <div *ngIf="institution.errors.required">
            Institution is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Account Number</mat-label>
        <input matInput placeholder="Some Account Number" id="accountNumber" [formControl]="accountNumber" required />
        <mat-error *ngIf="accountNumber.invalid">
          <div *ngIf="accountNumber.errors.required">
            Account Number is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle [formControl]="expenseAccount" id="expenseAccount">Expense Account</mat-slide-toggle>

      <mat-form-field appearance="fill">
        <mat-label>Currency</mat-label>
        <mat-select id="currency" [formControl]="currency" required>
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="TRY">TRY</mat-option>
        </mat-select>
        <mat-error *ngIf="currency.invalid">
          <div *ngIf="currency.errors.required">
            Currency is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Reader</mat-label>
        <mat-select id="readerName" [formControl]="readerName" required>
          <mat-option *ngFor="let reader of readers$ | async" [value]="reader.importer">{{reader.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="readerName.invalid">
          <div *ngIf="readerName.errors.required">
            Reader Name is required.
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!accountForm.valid">Submit</button>
  </form>
</div>
