<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Update Account</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-account-form [account]="account$"></app-account-form>
  </mat-card-content>
</mat-card>
