<h3 mat-dialog-title>Delete {{ data.selection.length === 1 ? "Account" : "Accounts" }}</h3>
<mat-dialog-content>
  Do you really want to delete {{ data.selection.length }} {{ data.selection.length === 1 ? "Account" : "Accounts" }}?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close color="primary">
    Cancel
  </button>
  <button mat-raised-button [mat-dialog-close]="data.selection" color="warn" mat-raised-button cdkFocusInitial>
    Delete
  </button>
</mat-dialog-actions>
